<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>

<body>
    <div class="container-fluid cont ">

            <%- include('partials/nav.ejs') %>  

            <div class="container-fluid back">
                <div class="container main-cont ">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 xyz jumbotron ">
                            <!-- <div class="jumbotron"> -->
                            <!-- <div class="panel panel-title"> -->
                                <h1 >Hello,</h1>
                            <!-- </div> -->
                                <p>
                                    Greetings from IIT BBS, This year focusing on corona crisis, we are having virtual placements.
                                    Register to the portal and keep yor profile updated.
                                </p>
                                <br>
                                <br>

                                <h3 style='text-align: center;'> <strong><i>ALL THE BEST !</i></strong> </h3>
                            
                        </div>
                        
                        <%- include('partials/form.ejs') %>

                    </div>
                </div>
            </div>
    </div>
      
  
        <%- include('partials/script.ejs') %>
        
        <%- include('partials/footer.ejs') %>
</body>
</html>