<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <style>
            form{
                position:relative;
                top:70px;
            }
        </style>
    </head>
<body>
    <div class="container-fluid cont ">

            <%- include('partials/nav.ejs') %>  

            <div class="container-fluid back">
                <div class="container main-cont ">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 xyz jumbotron ">
                            <!-- <div class="jumbotron"> -->
                            <!-- <div class="panel panel-title"> -->
                                <h1 >Hello</h1>
                            <!-- </div> -->
                                <p>
                                    Greetings from IIT BBS, This year focusing on corona crisis, we are having virtually placements.
                                    Register to the portal and keep yor profile updated.
                                </p>
                            
                        </div>
                        
                        <%- include('partials/loginform.ejs') %>

                    </div>
                </div>
            </div>
    </div>
      
  
        <%- include('partials/script.ejs') %>
        <%- include('partials/footer.ejs') %>

        
<script> 
    // const login=document.getElementById('login');
    // const username=document.getElementById('email');
    // console.log(1);
    // login.addEventListener('click', ()=>{
    //     console.log(username.value, 'jandsajndj');
    //     const form = document.querySelector('form');
    //     // form.setAttribute('action', `user/${username.value}`);
    //     // form.setAttribute('method', 'GET');
    //     console.log(form.getAttribute('action'), form.getAttribute('method'));
    // }, false);

    // var login  = document.querySelector('#login');
    
    // var email = document.querySelector('#email');
    // // const endpoint = email.value;
    // console.log(email.value);

    // login.addEventListener('click',()=>{
    //         fetch('/user', {
    //             method:'POST'
    //         })
    //         .then (Response=> response.json())
    //         .then (data=> {
    //                 if(data.email == false)
    //                     alert('user does not exist');
    //                 else if(data.password == false)
    //                     alert('password doesnot match');
    //                 else 
    //                     window.location.href = data.redirect;
    //             })
            
    // })
    

</script>
</body>
</html>