<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <style>
            form{
                position:relative;
                top:70px;
            }
        </style>
    </head>
<body>
    <div class="practice">

    </div>
    <div class="container-fluid cont ">

            <%- include('partials/nav.ejs') %>  

            <div class="container-fluid back">
                <div class="container main-cont ">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 xyz jumbotron ">
                            <!-- <div class="jumbotron"> -->
                            <!-- <div class="panel panel-title"> -->
                                <h1 >Hello</h1>
                            <!-- </div> -->
                                <p>
                                    Greetings from IIT BBS, This year focusing on corona crisis, we are having virtually placements.
                                    Register to the portal and keep your profile updated.
                                </p>
                            
                        </div>
                        
                        <%- include('partials/loginform.ejs') %>

                    </div>
                </div>
            </div>
    </div>
      
  
        <%- include('partials/script.ejs') %>
        <%- include('partials/footer.ejs') %>

        
<script> 

    var login  = document.querySelector('#login');
    
    var email = document.querySelector('#email');
    function triggerAlert(data){
        document.getElementsByClassName('alert-success')[0].style.display = "none";
        
        document.getElementsByClassName('alert-danger')[0].style.display = "";
        document.getElementsByClassName('alert-danger')[0].innerText = data;
        setTimeout(()=>{
                    document.getElementsByClassName('alert-danger')[0].style.display = "none";
        
        }, 3000);
                
    }
    console.log(email.value);

    
    login.addEventListener('click', ()=>{

        // if(sessionStorage.getItem('status') == null)
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            var data = JSON.parse(this.responseText);
                            if(data.email == false)
                                {
                                    triggerAlert('Oops... email is not registered');
                                }
                            else if(data.password == false)
                            {
                                triggerAlert('Wrong password');                          
                            }
                            else 
                                {
                                    sessionStorage.setItem('status','loggedIn');
                                    sessionStorage.setItem('redirect', `${data.redirect}`);
                                    document.getElementsByClassName('alert-success')[0].style.display="";
                                    document.getElementsByClassName('alert-danger')[0].style.display="none";
                                    document.getElementsByClassName('alert-success')[0].innerText = 'Login Successful | redirecting...';
                                    setTimeout(()=>{
                                        window.location.href=data.redirect;
                                    },2000);
                                }
                            
                        }
                };
                xhttp.open("POST", `/user/${email.value}`, true);
            
                xhttp.setRequestHeader("password",`${document.getElementById('pass').value}`);
                
                xhttp.send();
            });
        // else{
        //         // window.location.href = sessionStorage.getItem('redirect');
        // }
        
    

</script>
</body>
</html>









