<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>

        <style>
            body{
                padding:0
            }
            .para{
                background-image: url('/Campus-of-Indian-Institute-of-Technology-Bhubaneswar_Campus-View.png');
                background-size: 100% 100%;
                background-attachment: fixed;
                background-repeat: no-repeat;
                /* height:60%;   */
                width:100%;
                padding:0;
                margin:0;
                
            }
            
            .showoff{
                background-color: transparent;
                height:40%;
            }
            .jumbotron{
                width:100%;
               background-color:#0275d8;
                color:wheat;
            }
            form{
                padding:0;
                margin:0;
            }
        </style>
    </head>
    
<body>
<script>
    
    if(String(sessionStorage.getItem('status')) == 'null')
        window.location.href = '/login';
</script>
    <form action="/<%= data.emailid %>" method="POST">
    <div class="container-fluid para " style='padding:0'>

            <%- include('partials/nav.ejs') %>  
            
                
                        <div class="jumbotron container" > 
                    
                            <h2 style='text-align:center'> <strong> <%= data.fname%> <%=data.lname%></strong> </h2>
                            <p>
                            <div class="row" style='text-align: justify; font-size: larger;'>
                                <div class=" col-md-4 col-lg-4">
                                    <div>
                                        <strong>Email:</strong><i><%=data.emailid%></i> 
                                        </div>
                                        <div>
                                        <strong>phone:</strong><input name='tel' type="tel" class='form-control' maxlength= "10" minlength="10">
                                        </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <div>
                                        <strong>Location:</strong><input name='location' type="text" class='form-control' maxlength="20">
                                    </div>
                                    <div>
                                        <strong>linkedin:</strong><input name='linkedin_id' type="url" class='form-control' maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <div>
                                        <strong>Skype:</strong><input name='skype_id' type="text" class='form-control' maxlength="50">
                                    </div>
                                    <div>
                                        <strong>graduation-year:</strong><input name='graduation_year' type="text" class='form-control' maxlength="4">
                                    </div>
                                </div>
                            </div>
                            </p>
                        </div>
                        
                        <div class="showoff">
                            
                        </div>

                        <div class="jumbotron container"> 
                
                            <h1> Education </h1>
                                
                            <h2 style='text-align:center'> <strong> Graduation</strong> </h2>
                                    <p>
                                    <div class="row" style='text-align: justify; font-size: larger;'>
                                        <div class=" col-md-4 col-lg-4">
                                            <div>
                                                <strong>College:</strong><input name='gschool' type="text" class='form-control' maxlength="20"> 
                                                </div>
                                                <!-- <div>
                                                <strong>phone:</strong><input name='tel' type="tel" class='form-control'>
                                                </div> -->
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <div>
                                                <strong>CGPA:</strong><input name='gcgpa' type="text" class='form-control' maxlength="10">
                                            </div>
                                            <!-- <div>
                                                <strong>linkedin:</strong><input name='linkedin_id' type="text" class='form-control'>
                                            </div> -->
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <div>
                                                <strong>branch:</strong><input name='gbranch' type="text" class='form-control' maxlength="20">
                                            </div>
                                            <!-- <div>
                                                <strong>graduation-year:</strong><input name='graduation_year' type="text" class='form-control'>
                                            </div> -->
                                        </div>
                                    </div>
                                    </p>
                                    <!-- end 1st column  -->

                                    <!-- second column start -->

                                   
                            <h2 style='text-align:center'> <strong>XII</strong> </h2>
                                    <p>
                                        <div class="row" style='text-align: justify; font-size: larger;'>
                                            <div class=" col-md-4 col-lg-4">
                                                <div>
                                                    <strong>School:</strong><input name='xiischool' type="text" class='form-control' maxlength="20"> 
                                                </div>
                                                <!-- <div>
                                                    <strong>phone:</strong><input name='tel' type="tel" class='form-control'>
                                                </div> -->
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <div>
                                                <strong>CGPA:</strong><input name='xiicgpa' type="text" class='form-control' maxlength="10">
                                                </div>
                                                <!-- <div>
                                                <strong>linkedin:</strong><input name='linkedin_id' type="text" class='form-control'>
                                                </div> -->
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <!-- <div>
                                                <strong>Skype:</strong><input name='skype_id' type="text" class='form-control'>
                                            </div> -->
                                                <!-- <div>
                                                <strong>graduation-year:</strong><input name='graduation_year' type="text" class='form-control'>
                                                </div> -->
                                        </div>
                                        </div>
                                    </p>
                                    <!-- second column end  -->

                                    <!-- third column starts -->
                            <h2 style='text-align:center'> <strong> X</strong> </h2>
                                    <p>
                                    <div class="row" style='text-align: justify; font-size: larger;'>
                                        <div class=" col-md-4 col-lg-4">
                                            <div>
                                                <strong>School:</strong><input name='xschool' type="text" class='form-control' maxlength="20"> 
                                            </div>
                                                <!-- <div>
                                                <strong>phone:</strong><input name='tel' type="tel" class='form-control'>
                                                </div> -->
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <div>
                                                <strong>CGPA:</strong><input name='xcgpa' type="text" class='form-control' maxlength="10">
                                            </div>
                                            <!-- <div>
                                                <strong>linkedin:</strong><input name='linkedin_id' type="text" class='form-control'>
                                            </div> -->
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <!-- <div>
                                                <strong>Skype:</strong><input name='skype_id' type="text" class='form-control'>
                                            </div> -->
                                            <!-- <div>
                                                <strong>graduation-year:</strong><input name='graduation_year' type="text" class='form-control'>
                                            </div> -->
                                        </div>
                                    </div>
                                    </p>
                        </div>
                                
                                    <!-- third column ends  -->
                         <br><br>
                            <div style="text-align: center;">
                            
                                    
                                    <button class='btn btn-primary btn-lg'>Save Details for <%=data.emailid%></button>
                                
                            </div>
                        <br><br>
                        

                </div>
    </div>
</form>
      
  
        <!--  include('partials/sc`ript.ejs')  -->
         <!-- footer -->
         <%- include('partials/footer.ejs') %>
   
</body>
</html>













        