<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>

        <style>
            body{
                padding:0
            }
            .para{
                background-image: url('download.jpg');
                background-size: 100% 100%;
                background-attachment: fixed;
                background-repeat: no-repeat;
                /* height:60%;   */
                width:100%;
                padding:0;
                margin:0;
            }

            .showoff{
                background-color: transparent;
                height:150px;
            }
            .jumbotron{
                width:100%;
               
               
              
                /* border:2px solid red; */
                margin:0;
            }
        </style>
    </head>
    
<body>
    <div class="container-fluid cont " style='padding:0'>

            <%- include('partials/nav.ejs') %>  
            <div class="container-fluid para">

            </div>
               
                <div class="container-fluid para ">
                    <div class="jumbotron container-fluid" > 
                
                    <h2 style='text-align:center'> <strong> Ravi Sharma</strong> </h2>
                    <p>
                       <div class="row" style='text-align: justify; font-size: larger;'>
                           <div class="col-lg-4">
                               <div>
                                   <strong>Email:</strong><i> rs38@iitbbs.ac.in </i>
                                </div>
                                <div>
                                   <strong>phone:</strong><i> 7734820845 </i>
                                </div>
                           </div>
                           <div class="col-lg-4">
                            <div>
                                <strong>Location:</strong><i> Morena </i>
                             </div>
                             <div>
                                <strong>linkedin:</strong><i> <a href='#'>linkedin.com/rvishrm </a></i>
                             </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <strong>Skype:</strong><i> live:rvishrm </i>
                             </div>
                             <div>
                                <strong>graduation-year:</strong><i> 2020 </i>
                             </div>
                        </div>
                       </div>
                    </p>
                    </div>
                    <div class="container showoff">

                    </div>
                    <div class="jumbotron container-fluid"> 
                
                            <h2> Education </h2>
                                
                            <div class="row" style='text-align: justify; font-size: larger;'>
                                
                                           <!-- 1st column                              -->
                                    <div class="col-lg-4" style='border-right:1px solid grey'>

                                        <h3><strong>Graduation:</strong></h3>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>SCHOOL:</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p>IIT BHUBANESWAR  </p>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>CGPA:</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p>8.42  </p>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>Branck:</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p>Electrical  </p>
                                                    </div>
                                                </div>
                                    </div>
                                    <!-- end 1st column  -->

                                    <!-- second column start -->

                                    <div class="col-lg-4" style='border-right:1px solid grey'>
                                        <h3><strong>XII:</strong></h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p>SCHOOL:</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p>J.S. Public school  </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p>CGPA:</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p>8.42  </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p></p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p>  </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- second column end  -->

                                    <!-- third column starts -->
                                    <div class="col-lg-4">
                                        <h3><strong>X:</strong></h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p>SCHOOL:</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p>St. Mary's School  </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p>CGPA:</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p>10 </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p></p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p> </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- third column ends  -->

                            </div>

                    </div>
                    <div class="container showoff">

                    </div>
            </div>
    </div>
      
  
        <%- include('partials/script.ejs') %>
         <!-- footer -->
        <%- include('partials/footer.ejs') %>
    <script>
        const icon = document.getElementsByClassName('user-login');
        // console.log(icon);
        // icon[0].style.display='none';
        // console.log();
        icon[0].childNodes[1].innerText = `Hi,  <%= ravi %> `;
        icon[0].childNodes[3].innerText = '';
        icon[0].childNodes[1].classList.add('navbar-text');//='verticle-align:middle'
        icon[0].childNodes[1].style='font-size:20px;'
        
        // icon[0].firtchild.innerHTML = `<h3> Hi,  <%= ravi %> </h3>`;

    </script>
</body>
</html>













        